.home {
    width: 100%;
    background: url("../../../public/Img/background/home-background.png") no-repeat center/cover;
    height: 100%;

    @include desktop {
        padding-bottom: 6rem;
        padding-top: 2rem;
    }

    
    &__container {
        display: grid;
        place-items: center;
        height: 100%;
        gap: 3rem;

        @include desktop {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

    }

    &__content {
        @include desktop {
        display: grid;
        gap: 4rem;
        height: 100%;
        }
    }
    &__text-container {
        display: grid;
        place-items: center;
        text-align: center;

        @include desktop {
            width: 35rem;
        }
    }

    &__img {
        height: 15rem;
        width: 15rem; 
        object-fit: cover;
        border-radius: $full-rad;
        @include desktop {
            height: 20rem;
            width: 20rem;
        }
    }

    &__title {
        font-size: $xl-sz;
        font-weight: $semi-bold;
        color: white;

        @include desktop {
            font-size: 3rem;
        }
    }

    &__text {
        color: white;
        margin-bottom: 0;
        padding:0 $xxxl-mg;  
        
        @include desktop {
            font-size: $l-sz;
        }
    }

    &__download {
        display: grid;
        place-items: center;
        color: white;
        margin-top: 3rem;

        @include desktop {
            color: black;
            align-content: center;
            font-size: $l-sz;
            font-weight: $bold;
            height: 50%;
            margin-top: 0;
        }


    }
    &__apk {
        padding: 0 $s-pd;
        border-radius: $m-rad;
        display: flex;
        flex-direction: column;
        gap: $s-mg;
        
        @include desktop {
            font-size: $m-sz;
            flex-direction: row;

            
        }
        }

    &__img-container {
        @include desktop {
            display: grid;
            justify-items: center;
        }
        
    }
    
    &__img-text {
        font-weight: 500;
        color: $color-secondary;
        text-align: center;
        @include desktop {
            font-size: $m-sz;
        }
    }
}